{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L&K Shop</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-section">
            <div class="logo">L&K</div>
        </div>
        <div class="search-section">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    
    <div class="main-container">
        <nav class="sidebar" id="sidebar">
            
            <ul>
                <li>For Him</li>
                <li>For Her</li>
                <li>Graduation</li>
                <li>Friendship</li>
                <li>Special Gift</li>
                <li>Dad</li>
                <li>Mom</li>
                <li>Decors</li>
                <li>Games</li>
                <li>Account</li>
                <li>Logout</li>
            </ul>
        </nav>
        <main class="content">
            <div class="highlight">
                <img src="{% static 'images/quote.jpg' %}" alt="Highlight Image">
                <div class="highlight-text">
                    <h1>Engrave your special message</h1><br>
                    <p>Enjoying special moments? <br>Create memories through keepsakes</p>
                    <a href="{% url 'keepsakes:index' %}"><button>Make now</button></a>
                </div>
            </div>
    
            <h2>Popular Gifts</h2>
            <div class="game-list">
                <div class="game-item">
                    <img src="{% static 'images/mug.jpeg' %}" alt="Game 1">
                    <div class="game-info">
                        <h2>Personalised Mugs</h2>
                        <span class="price">$20</span> <!-- Button-like price -->
                    </div>
                </div>
                
                <div class="game-item">
                    <img src="{% static 'images/flower.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Flower Bouquet</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/bear.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Doll</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/perfume.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Perfume</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/notebook.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Notebooks</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
            </div>
            <!--Section of Most Favourites-->
            <h2>Most Favourites</h2>
            <div class="game-list">
                <div class="game-item">
                    <img src="{% static 'images/hat.jpg' %}" alt="Game 1">
                    <div class="game-info">
                        <h2>Embroidered Hat</h2>
                        <span class="price">$20</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/bracelets.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Engraved Bracelets</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/pillow.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Throw Pillows</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                <div class="game-item">
                    <img src="{% static 'images/necklace.jpg' %}" alt="Game 2">
                    <div class="game-info">
                        <h2>Handwritten Note Necklace</h2>
                        <span class="price">$15</span>
                    </div>
                </div>
                
            </div>
            <div class="top-selections">
                <h2>Top Selections</h2>
                <div class="selection-list">
                    <div class="selection-item">
                        <img src="{% static 'images/linen.jpg' %}" alt="Selection 1">
                        <div class="selection-info">
                            <h3>Embroidered Bags</h3>
                            <span class="price">$15</span>
                        </div>
                    </div>
                    <div class="selection-item">
                        <img src="{% static 'images/hat.jpg' %}" alt="Selection 2">
                        <div class="selection-info">
                            <h3>Linen hats</h3>
                            <span class="price">$15</span>
                        </div>
                    </div>
                    <div class="selection-item">
                        <img src="{% static 'images/towels.jpg' %}" alt="Selection 3">
                        <div class="selection-info">
                            <h3>Monogrammed Towels</h3>
                            <span class="category">Casual</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>